.details {
    max-width    : var(--maxWidth);
    margin       : 0 auto;
    padding      : 15px;
    margin-bottom: 25px;
    border-radius: 6px;
    background   : var(--white);
    box-shadow   : 0px 0px 12px #aaa, -0px -0px 12px #fff;
}

.details p {
    line-height: 1.5;
    padding    : 0px 15px;
}

.details h1 {
    text-align: center;
    color     : var(--darkGrey);
    font-size : 60px;
    margin    : 5px 0px;
}

.details h2 {
    text-align: center;
    margin    : 5px 0px 20px 0px;
}

.addopt_wrapp {
    text-align: center;
    margin: 24px auto;
}

@media only screen and (max-width: 1129px) {
    .details {
        width        : 95%;
        margin       : 0 auto;
        padding      : 15px;
        border-radius: 9px;
        margin-bottom: 25px;
    }
}
