.pet {
  height: 130px;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
  margin: 25px 0;
  border-bottom: var(--darkGrey) 2px solid;
  text-decoration: none;
  position: relative;
}
