.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px 24px;
	height: 36px;

	cursor: pointer;
	transition: all 0.3s ease;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;

	color: var(--white);
	background-color: var(--primary);
}

.button:hover {
	background-color: var(--primary-hover);
	transform: scale(1.1);
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.ghost {
	color: var(--black);
	border: 1px solid var(--lightGrey);
	background: none;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	transition: all 0.2s;
	transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
	fill: var(--white);
}
