.wrapper_form {
    display              : grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap                  : 1.5rem;
}

.wrapper_form input {
    width        : 100%;
    height       : 2.75rem;
    padding      : .75rem 1rem;
    margin-top   : .25rem;
    border-radius: 0.5rem;
    border       : 1px solid var(--lightGrey);
}