.wrapper {
  display: flex;
  max-width: var(--maxWidth);
  margin: 0 auto;
  min-height: 156px;
  justify-content: space-between;
}

@media only screen and (max-width: 1129px) {
  header {
    align-content: center;
    justify-content: center;
  }
}
