.wrapper {
    width : var(--maxWidth);
    margin: 560px auto 0; 
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 14px;
}

.wrapper form {
    border-radius: 6px;
    background   : var(--white);
    box-shadow   : 0px 0px 12px #aaa, -0px -0px 12px #fff;
    padding      : 35px 15px 15px 15px;
}


.wrapper label {
    display: block;
    width  : 60px;
}

.wrapper input,
.wrapper select {
    margin-bottom: 30px;
    font-size    : 18px;
    height       : 30px;
    width        : 325px;
}