.wrapper {
    max-width            : var(--maxWidth);
    margin               : 0px auto;
    display              : grid;
    grid-template-columns: 360px 1fr;
    gap                  : 14px;
}

@media only screen and (max-width: 1129px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}