:root {
  --maxWidth: 1280px; 
  --white: #fff;
  --lightGrey: #eee;
  --darkGrey: #1c1c1c;
  --primary: #80ceca;
  --primary-hover: #40a6a0
}

* {
  box-sizing: border-box;
}

a {
  color: var(--darkGrey);
}

body {
  background: var(--lightGrey);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

.btn {
  padding: 10px 24px;
  height: 36px;
  transition: all 0.3s ease;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--primary);
  text-decoration: none;
}